body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #2b3762;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  .upload-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
  }

  #fileList {
      margin-top: 20px;
      text-align: left;
  }

  #fileList a {
      display: block;
      margin: 10px 0;
      color: blue;
      text-decoration: underline;
  }

  footer {
    text-align: center;
    padding: 1rem;
    background-color: #ddd;
    margin-top: 2rem;
  }
  